# ==========================================
# Personal / Private
# ==========================================

.Archive/

# ==========================================
# Environment Variables
# ==========================================

.env
.env.*

# ==========================================
# VS Code / IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.temp
*.bak
*.swp

# ==========================================
# Operating System Files
# ==========================================

.DS_Store
Thumbs.db
Desktop.ini